@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

div{
    display:flex;
   
    
}

.divst{
    display: flex;
    justify-content: center;
}

.foxy{
color:#ffcc00;
font-family: 'Caveat', cursive;
}